version: '3.9'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: keyvan  
      MYSQL_DATABASE: db
    ports:
      - "3307:3306"     
  app: 
    image: appimage:02
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    depends_on:
      - db